[submodule "contrib/corrade"]
	path = contrib/corrade
	url = https://github.com/mosra/corrade.git
[submodule "contrib/magnum"]
	path = contrib/magnum
	url = https://github.com/mosra/magnum.git
[submodule "contrib/magnum-plugins"]
	path = contrib/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "contrib/magnum-integration"]
	path = contrib/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "contrib/imgui"]
	path = contrib/imgui
	url = git@github.com:ocornut/imgui.git
